{"openapi":"3.0.3","info":{"title":"Noveum API","description":"Development documentation","version":"1.0.0"},"servers":[{"url":"https://noveum.ai","description":"API server"}],"security":[{"apiKeyCookie":[],"bearerAuth":[]}],"tags":[{"name":"Default","description":"Default endpoints that are included with Better Auth by default. These endpoints are not part of any plugin."}],"paths":{"/api/webhooks/payments":{"post":{"responses":{},"operationId":"postApiWebhooksPayments","tags":["Webhooks"],"summary":"Handle payments webhook","parameters":[]}},"/api/ai/chats":{"get":{"responses":{"200":{"description":"Chats","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":["string","null"]},"userId":{"type":["string","null"]},"title":{"type":["string","null"]},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant"]},"content":{"type":"string"}},"required":["role","content"]}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","userId","title","messages","createdAt","updatedAt"]}}}}}},"operationId":"getApiAiChats","tags":["AI"],"summary":"Get chats","description":"Get all chats for current user or organization","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"}}]},"post":{"responses":{"200":{"description":"Chat","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":["string","null"]},"userId":{"type":["string","null"]},"title":{"type":["string","null"]},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant"]},"content":{"type":"string"}},"required":["role","content"]}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","userId","title","messages","createdAt","updatedAt"]}}}}},"operationId":"postApiAiChats","tags":["AI"],"summary":"Create chat","description":"Create a new chat","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string"},"organizationId":{"type":"string"}}}}}}}},"/api/ai/chats/{id}":{"get":{"responses":{"200":{"description":"Chat","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":["string","null"]},"userId":{"type":["string","null"]},"title":{"type":["string","null"]},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant"]},"content":{"type":"string"}},"required":["role","content"]}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","userId","title","messages","createdAt","updatedAt"]}}}}},"operationId":"getApiAiChatsById","tags":["AI"],"summary":"Get chat","description":"Get a chat by id","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]},"put":{"responses":{"200":{"description":"Chat","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":["string","null"]},"userId":{"type":["string","null"]},"title":{"type":["string","null"]},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant"]},"content":{"type":"string"}},"required":["role","content"]}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","userId","title","messages","createdAt","updatedAt"]}}}}},"operationId":"putApiAiChatsById","tags":["AI"],"summary":"Update chat","description":"Update a chat by id","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string"}}}}}}},"delete":{"responses":{"204":{"description":"Chat deleted"}},"operationId":"deleteApiAiChatsById","tags":["AI"],"summary":"Delete chat","description":"Delete a chat by id","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/ai/chats/{id}/messages":{"post":{"responses":{"200":{"description":"Returns a stream of the response from the AI model"}},"operationId":"postApiAiChatsByIdMessages","tags":["AI"],"summary":"Add message to chat","description":"Send all messages of the chat to the AI model to get a response","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant"]},"content":{"type":"string"}},"required":["role","content"]}}},"required":["messages"]}}}}}},"/api/uploads/signed-upload-url":{"post":{"responses":{"200":{"description":"Returns a signed upload url","content":{"application/json":{"schema":{"type":"object","properties":{"signedUrl":{"type":"string"}},"required":["signedUrl"]}}}},"403":{"description":"Not allowed"}},"operationId":"postApiUploadsSigned-upload-url","parameters":[{"in":"query","name":"bucket","schema":{"type":"string","minLength":1},"required":true},{"in":"query","name":"path","schema":{"type":"string","minLength":1},"required":true}],"tags":["Uploads"],"summary":"Get a signed upload url","description":"Get a signed upload url for a given bucket and path"}},"/api/payments/purchases":{"get":{"responses":{"200":{"description":"Purchases","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["SUBSCRIPTION","ONE_TIME"]},"id":{"type":"string"},"organizationId":{"type":["string","null"]},"userId":{"type":["string","null"]},"customerId":{"type":"string"},"subscriptionId":{"type":["string","null"]},"productId":{"type":"string"},"status":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["type","id","organizationId","userId","customerId","subscriptionId","productId","status","createdAt","updatedAt"]}}}}}},"operationId":"getApiPaymentsPurchases","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"}}],"tags":["Payments"],"summary":"Get purchases","description":"Get all purchases of the current user or the provided organization"}},"/api/payments/create-checkout-link":{"post":{"responses":{"200":{"description":"Checkout link"}},"operationId":"postApiPaymentsCreate-checkout-link","parameters":[{"in":"query","name":"type","schema":{"type":"string","enum":["one-time","subscription"]},"required":true},{"in":"query","name":"productId","schema":{"type":"string"},"required":true},{"in":"query","name":"redirectUrl","schema":{"type":"string"},"required":false},{"in":"query","name":"organizationId","schema":{"type":"string"},"required":false}],"tags":["Payments"],"summary":"Create a checkout link","description":"Creates a checkout link for a one-time or subscription product"}},"/api/payments/create-customer-portal-link":{"post":{"responses":{"200":{"description":"Customer portal link"}},"operationId":"postApiPaymentsCreate-customer-portal-link","parameters":[{"in":"query","name":"purchaseId","schema":{"type":"string"}},{"in":"query","name":"redirectUrl","schema":{"type":"string"}}],"tags":["Payments"],"summary":"Create a customer portal link","description":"Creates a customer portal link for the customer or team. If a purchase is provided, the link will be created for the customer of the purchase."}},"/api/contact":{"post":{"responses":{"204":{"description":"Message sent"},"400":{"description":"Could not send message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiContact","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email"},"name":{"type":"string","minLength":3},"message":{"type":"string","minLength":10}},"required":["email","name","message"]}}}},"parameters":[],"tags":["Contact"],"summary":"Send a message from the contact form","description":"Send a message with an email and name"}},"/api/careers/apply":{"post":{"responses":{"204":{"description":"Application emailed"},"400":{"description":"Invalid payload or send failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiCareersApply","tags":["Careers"],"summary":"Submit job application","description":"Accepts a job application payload and emails the details","parameters":[]}},"/api/newsletter/signup":{"post":{"responses":{"204":{"description":"Email sent"},"500":{"description":"Could not send email","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiNewsletterSignup","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email"}},"required":["email"]}}}},"parameters":[],"tags":["Newsletter"],"summary":"Sign up for the newsletter","description":"Takes an email and sends a confirmation email"}},"/api/organizations/generate-slug":{"get":{"responses":{},"operationId":"getApiOrganizationsGenerate-slug","parameters":[{"in":"query","name":"name","schema":{"type":"string"},"required":true}],"summary":"Generate a slug for an organization","tags":["Organizations"]}},"/api/organizations/invitations":{"get":{"responses":{},"operationId":"getApiOrganizationsInvitations","summary":"Get pending invitations","tags":["Organizations"],"parameters":[]}},"/api/organizations/invitation/{id}":{"get":{"responses":{},"operationId":"getApiOrganizationsInvitationById","summary":"Get invitation by ID","tags":["Organizations"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/admin/organizations":{"get":{"responses":{},"operationId":"getApiAdminOrganizations","parameters":[{"in":"query","name":"query","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"type":"string","default":"10"}},{"in":"query","name":"offset","schema":{"type":"string","default":"0"}}],"summary":"Get all organizations","tags":["Administration"]}},"/api/admin/users":{"get":{"responses":{},"operationId":"getApiAdminUsers","parameters":[{"in":"query","name":"query","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"type":"string","default":"10"}},{"in":"query","name":"offset","schema":{"type":"string","default":"0"}}],"summary":"Get all users","tags":["Administration"]}},"/api/health":{"get":{"responses":{"200":{"description":"All services healthy"},"503":{"description":"One or more services unhealthy"}},"operationId":"getApiHealth","tags":["Health"],"summary":"Health check","description":"Returns 200 if the server and all services are healthy","parameters":[]}},"/api/telemetry/metrics":{"get":{"responses":{"200":{"description":"Returns project metrics"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetrics","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get project metrics"}},"/api/telemetry/metrics/with-trends":{"get":{"responses":{"200":{"description":"Returns project metrics with trend data"}},"operationId":"getApiTelemetryMetricsWith-trends","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get project metrics with trends"}},"/api/telemetry/metrics/model-usage":{"get":{"responses":{"200":{"description":"Returns model usage data"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetricsModel-usage","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get model usage metrics"}},"/api/telemetry/metrics/slowest-requests":{"get":{"responses":{"200":{"description":"Returns slowest requests data"}},"operationId":"getApiTelemetryMetricsSlowest-requests","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get slowest requests"}},"/api/telemetry/metrics/dashboard":{"get":{"responses":{"200":{"description":"Returns dashboard metrics data"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetricsDashboard","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get dashboard metrics"}},"/api/telemetry/metrics/top-projects-api":{"get":{"responses":{"200":{"description":"Returns top projects API data"}},"operationId":"getApiTelemetryMetricsTop-projects-api","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get top projects API data"}},"/api/telemetry/metrics/top-projects-tokens":{"get":{"responses":{"200":{"description":"Returns top projects tokens data"}},"operationId":"getApiTelemetryMetricsTop-projects-tokens","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get top projects tokens data"}},"/api/telemetry/metrics/recent-errors":{"get":{"responses":{"200":{"description":"Returns recent errors data"}},"operationId":"getApiTelemetryMetricsRecent-errors","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get recent errors"}},"/api/telemetry/metrics/error-rate":{"get":{"responses":{"200":{"description":"Returns error rate data"}},"operationId":"getApiTelemetryMetricsError-rate","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get error rate"}},"/api/telemetry/metrics/cost-trends-per-project":{"get":{"responses":{"200":{"description":"Returns cost trends per project data"}},"operationId":"getApiTelemetryMetricsCost-trends-per-project","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get cost trends per project"}},"/api/telemetry/metrics/usage-trends-per-project":{"get":{"responses":{"200":{"description":"Returns usage trends per project data"}},"operationId":"getApiTelemetryMetricsUsage-trends-per-project","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get usage trends per project"}},"/api/telemetry/metrics/requests-trends-per-project":{"get":{"responses":{"200":{"description":"Returns requests trends per project data"}},"operationId":"getApiTelemetryMetricsRequests-trends-per-project","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get requests trends per project"}},"/api/telemetry/metrics/latencyByProvider":{"get":{"responses":{"200":{"description":"Returns latency by provider data"}},"operationId":"getApiTelemetryMetricsLatencyByProvider","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get latency by provider"}},"/api/telemetry/metrics/costByProvider":{"get":{"responses":{"200":{"description":"Returns cost by provider data"}},"operationId":"getApiTelemetryMetricsCostByProvider","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get cost by provider"}},"/api/telemetry/metrics/usage-trends":{"get":{"responses":{"200":{"description":"Returns usage trends data for charts"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetricsUsage-trends","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get usage trends time series"}},"/api/telemetry/metrics/cost-trends":{"get":{"responses":{"200":{"description":"Returns cost trends data for charts"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetricsCost-trends","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get cost trends time series"}},"/api/telemetry/metrics/latency-trends":{"get":{"responses":{"200":{"description":"Returns latency trends data for charts"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetricsLatency-trends","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get latency trends time series"}},"/api/telemetry/metrics/requests-trends":{"get":{"responses":{"200":{"description":"Returns request trends data for charts"},"400":{"description":"Validation error"},"403":{"description":"Access denied"},"408":{"description":"Request timeout"},"500":{"description":"Internal server error"}},"operationId":"getApiTelemetryMetricsRequests-trends","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"query","name":"startTime","schema":{"type":"string"},"required":false},{"in":"query","name":"endTime","schema":{"type":"string"},"required":false},{"in":"query","name":"project","schema":{"type":"string"},"required":false},{"in":"query","name":"interval","schema":{"type":"string","enum":["minute","hour","day","week","month","quarter","year"]},"required":false},{"in":"query","name":"timeZone","schema":{"type":"string"},"required":false},{"in":"query","name":"autoDetectInterval","schema":{"type":"boolean"},"required":false},{"in":"query","name":"provider","schema":{"type":"string"},"required":false},{"in":"query","name":"model","schema":{"type":"string"},"required":false}],"tags":["Telemetry"],"summary":"Get request trends time series"}},"/api/telemetry/plugins":{"get":{"responses":{"200":{"description":"Returns list of telemetry plugins"}},"operationId":"getApiTelemetryPlugins","tags":["Telemetry Plugins"],"summary":"Get all telemetry plugins for organization","parameters":[]},"post":{"responses":{"201":{"description":"Returns the created telemetry plugin"},"400":{"description":"Invalid input or plugin type already exists"}},"operationId":"postApiTelemetryPlugins","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","const":"clickhouse"},"config":{"type":"object","additionalProperties":{}},"enabled":{"type":"boolean","default":true},"isDefault":{"type":"boolean","default":false},"environment":{"type":"string","enum":["development","staging","production"],"default":"production"}},"required":["name","type","config"]}}}},"parameters":[],"tags":["Telemetry Plugins"],"summary":"Create a new telemetry plugin"}},"/api/telemetry/plugins/{id}":{"get":{"responses":{"200":{"description":"Returns the telemetry plugin"},"404":{"description":"Plugin not found"}},"operationId":"getApiTelemetryPluginsById","tags":["Telemetry Plugins"],"summary":"Get a specific telemetry plugin","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]},"put":{"responses":{"200":{"description":"Returns the updated telemetry plugin"},"404":{"description":"Plugin not found"}},"operationId":"putApiTelemetryPluginsById","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","const":"clickhouse"},"config":{"type":"object","additionalProperties":{}},"enabled":{"type":"boolean","default":true},"isDefault":{"type":"boolean","default":false},"environment":{"type":"string","enum":["development","staging","production"],"default":"production"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"tags":["Telemetry Plugins"],"summary":"Update a telemetry plugin"},"delete":{"responses":{"204":{"description":"Plugin deleted successfully"},"404":{"description":"Plugin not found"}},"operationId":"deleteApiTelemetryPluginsById","tags":["Telemetry Plugins"],"summary":"Delete a telemetry plugin","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/telemetry/plugins/{id}/test":{"post":{"responses":{"200":{"description":"Connection test result"},"400":{"description":"Connection test failed"},"404":{"description":"Plugin not found"}},"operationId":"postApiTelemetryPluginsByIdTest","tags":["Telemetry Plugins"],"summary":"Test telemetry plugin connection","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/v1/status":{"get":{"responses":{"200":{"description":"Status retrieved successfully"},"401":{"description":"Unauthorized - Invalid API key"},"429":{"description":"Rate limit exceeded"},"500":{"description":"Internal server error"}},"operationId":"getApiV1Status","tags":["Status"],"summary":"Get API status","description":"Get API status and usage statistics for the organization","parameters":[]}},"/api/v1/traces":{"post":{"responses":{"200":{"description":"Traces ingested successfully"},"400":{"description":"Invalid request format"},"401":{"description":"Unauthorized - Invalid API key"},"429":{"description":"Rate limit exceeded"},"500":{"description":"Internal server error"}},"operationId":"postApiV1Traces","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"traces":{"type":"array","items":{"type":"object","properties":{"trace_id":{"type":"string"},"name":{"type":"string"},"start_time":{"type":"string"},"end_time":{"type":"string"},"duration_ms":{"type":"number","minimum":0},"status":{"type":"string","enum":["ok","error","timeout"]},"status_message":{"type":["string","null"]},"span_count":{"type":"integer","minimum":0},"error_count":{"type":"integer","minimum":0,"default":0},"project":{"type":"string"},"environment":{"type":"string","default":"production"},"sdk":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"}},"required":["name","version"]},"attributes":{"type":"object","additionalProperties":{},"default":{}},"metadata":{"type":"object","properties":{"user_id":{"type":["string","null"]},"session_id":{"type":["string","null"]},"request_id":{"type":["string","null"]},"tags":{"type":"object","additionalProperties":{},"default":{}},"custom_attributes":{"type":"object","additionalProperties":{},"default":{}}},"default":{}},"spans":{"type":"array","items":{"type":"object","properties":{"span_id":{"type":"string"},"trace_id":{"type":"string"},"parent_span_id":{"type":["string","null"]},"name":{"type":"string"},"start_time":{"type":"string"},"end_time":{"type":"string"},"duration_ms":{"type":"number","minimum":0},"status":{"type":"string","enum":["ok","error","timeout"]},"status_message":{"type":["string","null"]},"attributes":{"type":"object","additionalProperties":{},"default":{}},"events":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"timestamp":{"type":"string"},"attributes":{"type":"object","additionalProperties":{}}},"required":["name","timestamp"]},"default":[]},"links":{"type":"array","items":{"type":"object","properties":{"trace_id":{"type":"string"},"span_id":{"type":"string"},"attributes":{"type":"object","additionalProperties":{}}},"required":["trace_id","span_id"]},"default":[]}},"required":["span_id","trace_id","name","start_time","end_time","duration_ms","status"]}}},"required":["name","start_time","end_time","duration_ms","status","span_count","project","sdk","spans"]},"minItems":1,"maxItems":1000},"timestamp":{"type":"number"},"batch_metadata":{"type":"object","properties":{"sdk_version":{"type":"string"},"batch_size":{"type":"integer","minimum":1},"compression":{"type":"boolean","default":false}}}},"required":["traces"]}}}},"parameters":[],"tags":["Traces"],"summary":"Ingest batch traces","description":"Ingest multiple traces in a single request. Each trace must include required fields: duration_ms, span_count, sdk, and spans array."},"get":{"responses":{"200":{"description":"Traces retrieved successfully"},"400":{"description":"Invalid query parameters or missing org (session)"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (org mismatch or access denied)"},"404":{"description":"No ClickHouse plugin found for organization"},"500":{"description":"Internal server error"}},"operationId":"getApiV1Traces","parameters":[{"in":"query","name":"organizationId","schema":{"type":"string"}},{"in":"query","name":"from","schema":{"type":"number","minimum":0,"default":0}},{"in":"query","name":"size","schema":{"type":"number","minimum":1,"maximum":100,"default":20}},{"in":"query","name":"startTime","schema":{"type":"string"}},{"in":"query","name":"endTime","schema":{"type":"string"}},{"in":"query","name":"project","schema":{"type":"string"}},{"in":"query","name":"environment","schema":{"type":"string"}},{"in":"query","name":"status","schema":{"type":"string"}},{"in":"query","name":"userId","schema":{"type":"string"}},{"in":"query","name":"sessionId","schema":{"type":"string"}},{"in":"query","name":"tags","schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"sort","schema":{"type":"string","enum":["start_time:asc","start_time:desc","end_time:asc","end_time:desc","duration_ms:asc","duration_ms:desc"],"default":"start_time:desc"}},{"in":"query","name":"searchTerm","schema":{"type":"string"}},{"in":"query","name":"includeSpans","schema":{"type":"boolean","default":false}}],"tags":["Traces"],"summary":"Query traces","description":"Query traces with optional filters and pagination. Supports API key auth (org inferred) and session auth (org required via X-Organization-Id/Slug header or organizationId param)."}},"/api/v1/traces/directory-tree":{"get":{"responses":{"200":{"description":"Directory tree retrieved successfully"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}},"operationId":"getApiV1TracesDirectory-tree","tags":["Traces"],"summary":"Get directory tree","description":"Get the directory tree for an organization","parameters":[]}},"/api/v1/traces/single":{"post":{"responses":{"200":{"description":"Trace ingested successfully"},"400":{"description":"Invalid request format"},"401":{"description":"Unauthorized - Invalid API key"},"409":{"description":"Conflict - Trace is immutable"},"429":{"description":"Rate limit exceeded"},"500":{"description":"Internal server error"}},"operationId":"postApiV1TracesSingle","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"trace_id":{"type":"string"},"name":{"type":"string"},"start_time":{"type":"string"},"end_time":{"type":"string"},"duration_ms":{"type":"number","minimum":0},"status":{"type":"string","enum":["ok","error","timeout"]},"status_message":{"type":["string","null"]},"span_count":{"type":"integer","minimum":0},"error_count":{"type":"integer","minimum":0,"default":0},"project":{"type":"string"},"environment":{"type":"string","default":"production"},"sdk":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"}},"required":["name","version"]},"attributes":{"type":"object","additionalProperties":{},"default":{}},"metadata":{"type":"object","properties":{"user_id":{"type":["string","null"]},"session_id":{"type":["string","null"]},"request_id":{"type":["string","null"]},"tags":{"type":"object","additionalProperties":{},"default":{}},"custom_attributes":{"type":"object","additionalProperties":{},"default":{}}},"default":{}},"spans":{"type":"array","items":{"type":"object","properties":{"span_id":{"type":"string"},"trace_id":{"type":"string"},"parent_span_id":{"type":["string","null"]},"name":{"type":"string"},"start_time":{"type":"string"},"end_time":{"type":"string"},"duration_ms":{"type":"number","minimum":0},"status":{"type":"string","enum":["ok","error","timeout"]},"status_message":{"type":["string","null"]},"attributes":{"type":"object","additionalProperties":{},"default":{}},"events":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"timestamp":{"type":"string"},"attributes":{"type":"object","additionalProperties":{}}},"required":["name","timestamp"]},"default":[]},"links":{"type":"array","items":{"type":"object","properties":{"trace_id":{"type":"string"},"span_id":{"type":"string"},"attributes":{"type":"object","additionalProperties":{}}},"required":["trace_id","span_id"]},"default":[]}},"required":["span_id","trace_id","name","start_time","end_time","duration_ms","status"]}}},"required":["name","start_time","end_time","duration_ms","status","span_count","project","sdk","spans"]}}}},"parameters":[],"tags":["Traces"],"summary":"Ingest single trace","description":"Ingest a single trace (processed as a batch internally). Required fields: duration_ms, span_count, sdk, and spans array with each span having duration_ms."}},"/api/v1/traces/connection-status":{"get":{"responses":{"200":{"description":"Connection status retrieved successfully"},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error"}},"operationId":"getApiV1TracesConnection-status","tags":["Traces"],"summary":"Get connection status","description":"Get the connection status for an organization","parameters":[]}},"/api/v1/traces/{traceId}/spans":{"get":{"responses":{"200":{"description":"Spans retrieved successfully"},"401":{"description":"Unauthorized"},"404":{"description":"Trace not found"},"500":{"description":"Internal server error"}},"operationId":"getApiV1TracesByTraceIdSpans","tags":["Traces"],"summary":"Get spans by trace ID","description":"Get the spans for a given trace ID","parameters":[{"schema":{"type":"string"},"in":"path","name":"traceId","required":true}]}},"/api/v1/traces/{id}":{"get":{"responses":{"200":{"description":"Trace retrieved successfully"},"401":{"description":"Unauthorized - Invalid API key"},"404":{"description":"Trace not found"},"500":{"description":"Internal server error"}},"operationId":"getApiV1TracesById","tags":["Traces"],"summary":"Get trace by ID","description":"Retrieve a specific trace by its ID","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/v1/datasets":{"post":{"responses":{},"operationId":"postApiV1Datasets","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"slug":{"type":"string"},"description":{"type":"string"},"visibility":{"type":"string","enum":["public","org","private"],"default":"org"},"dataset_type":{"type":"string","enum":["agent","conversational","g-eval","custom"],"default":"custom"},"environment":{"type":"string"},"schema_version":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"custom_attributes":{"type":"object","additionalProperties":{}}},"required":["name"]}}}},"parameters":[],"tags":["Datasets"],"summary":"Create dataset"},"get":{"responses":{},"operationId":"getApiV1Datasets","parameters":[{"in":"query","name":"limit","schema":{"type":"number","minimum":1,"maximum":1000,"default":20}},{"in":"query","name":"offset","schema":{"type":"number","minimum":0,"default":0}},{"in":"query","name":"visibility","schema":{"type":"string","enum":["public","org","private"]}},{"in":"query","name":"organizationSlug","schema":{"type":"string"}},{"in":"query","name":"includeVersions","schema":{"type":"boolean","default":false}}],"tags":["Datasets"],"summary":"List datasets"}},"/api/v1/datasets/{slug}":{"get":{"responses":{},"operationId":"getApiV1DatasetsBySlug","tags":["Datasets"],"summary":"Get dataset by slug","parameters":[{"schema":{"type":"string"},"in":"path","name":"slug","required":true}]},"put":{"responses":{},"operationId":"putApiV1DatasetsBySlug","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"visibility":{"type":"string","enum":["public","org","private"]},"schema_version":{"type":"string"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"slug","required":true}],"tags":["Datasets"],"summary":"Update dataset"},"delete":{"responses":{},"operationId":"deleteApiV1DatasetsBySlug","tags":["Datasets"],"summary":"Delete dataset","parameters":[{"schema":{"type":"string"},"in":"path","name":"slug","required":true}]}},"/api/v1/datasets/{datasetSlug}/versions":{"get":{"responses":{},"operationId":"getApiV1DatasetsByDatasetSlugVersions","parameters":[{"in":"query","name":"limit","schema":{"type":"number","minimum":1,"maximum":100,"default":50}},{"in":"query","name":"offset","schema":{"type":"number","minimum":0,"default":0}},{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}],"tags":["Datasets"],"summary":"List dataset versions"},"post":{"responses":{},"operationId":"postApiV1DatasetsByDatasetSlugVersions","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string"}},"required":["version"]}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}],"tags":["Datasets"],"summary":"Create a new dataset version"}},"/api/v1/datasets/{datasetSlug}/versions/diff":{"get":{"responses":{},"operationId":"getApiV1DatasetsByDatasetSlugVersionsDiff","tags":["Datasets"],"summary":"Get changes between current_release and next_release","description":"Returns a detailed diff showing items added, deleted, and modified between the current published version and the next unpublished version. Useful for reviewing changes before publishing.","parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}]}},"/api/v1/datasets/{datasetSlug}/versions/publish":{"post":{"responses":{},"operationId":"postApiV1DatasetsByDatasetSlugVersionsPublish","tags":["Datasets"],"summary":"Publish the next dataset version and automatically increment version number","description":"Publishes all items in the next_release version to current_release. Automatically increments the version number by 0.0.1 (patch increment). Items added after this will go into the new next_release version.","parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}]}},"/api/v1/datasets/{datasetSlug}/versions/{version}":{"get":{"responses":{},"operationId":"getApiV1DatasetsByDatasetSlugVersionsByVersion","tags":["Datasets"],"summary":"Get detailed dataset version information","description":"Retrieves comprehensive information about a specific dataset version including existence status, item count, and version metadata. Returns status as 'published', 'unpublished', 'legacy', or 'nonexistent'.","parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true},{"schema":{"type":"string"},"in":"path","name":"version","required":true}]}},"/api/v1/datasets/{datasetSlug}/items":{"get":{"responses":{},"operationId":"getApiV1DatasetsByDatasetSlugItems","parameters":[{"in":"query","name":"version","schema":{"type":"string","pattern":"^\\s*\\d+\\.\\d+\\.\\d+\\s*$"}},{"in":"query","name":"limit","schema":{"type":"number","minimum":1,"maximum":1000,"default":50}},{"in":"query","name":"offset","schema":{"type":"number","minimum":0,"default":0}},{"in":"query","name":"item_type","schema":{"type":"string","maxLength":100}},{"in":"query","name":"search","schema":{"type":"string","maxLength":256}},{"in":"query","name":"sort_by","schema":{"type":"string","pattern":"^(scorer\\.[a-zA-Z0-9_-]{1,64}|[a-zA-Z_][a-zA-Z0-9_]{0,63})$"}},{"in":"query","name":"sort_order","schema":{"type":"string","enum":["asc","desc"],"default":"asc"}},{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}],"tags":["Datasets"],"summary":"List dataset items for a specific version","description":"Retrieves items from a specific version. Defaults to current_release if no version specified. Items marked as deleted (via deleted_at_version) are automatically filtered out for the requested version. Returns 404 if the specified version does not exist."},"post":{"responses":{},"operationId":"postApiV1DatasetsByDatasetSlugItems","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"item_key":{"type":"string","minLength":1},"item_type":{"type":"string","minLength":1},"content":{"type":"object","additionalProperties":{}},"metadata":{"type":"object","additionalProperties":{}},"trace_id":{"type":"string"},"span_id":{"type":"string"}},"required":["item_key","item_type","content"]},"minItems":1}},"required":["items"]}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}],"tags":["Datasets"],"summary":"Batch create dataset items in next_release version","description":"Creates multiple dataset items that will be added to the dataset's next_release version. These items will become part of the published dataset when you call the publish endpoint."},"delete":{"responses":{},"operationId":"deleteApiV1DatasetsByDatasetSlugItems","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["itemIds"],"properties":{"itemIds":{"type":"array","items":{"type":"string"},"minItems":1,"description":"Array of item IDs to delete"}}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true}],"tags":["Datasets"],"summary":"Soft-delete dataset items","description":"Marks items as deleted. If items exist only in unpublished versions, they are permanently removed. If items exist in published versions, they are soft-deleted and marked with deleted_at_version in the next_release."}},"/api/v1/datasets/{datasetSlug}/items/{itemKey}":{"get":{"responses":{},"operationId":"getApiV1DatasetsByDatasetSlugItemsByItemKey","tags":["Datasets"],"summary":"Get single dataset item","parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true},{"schema":{"type":"string"},"in":"path","name":"itemKey","required":true}]}},"/api/v1/datasets/{datasetSlug}/items/{itemId}":{"delete":{"responses":{},"operationId":"deleteApiV1DatasetsByDatasetSlugItemsByItemId","tags":["Datasets"],"summary":"Soft-delete a single dataset item","description":"Marks a single item as deleted. If the item exists only in unpublished versions, it is permanently removed. If it exists in published versions, it is soft-deleted and marked with deleted_at_version in the next_release.","parameters":[{"schema":{"type":"string"},"in":"path","name":"datasetSlug","required":true},{"schema":{"type":"string"},"in":"path","name":"itemId","required":true}]}},"/api/v1/scorers/results":{"get":{"responses":{"200":{"description":"Successfully retrieved scorer results","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"result_id":{"type":"string"},"organization_slug":{"type":"string"},"dataset_slug":{"type":"string"},"item_id":{"type":"string"},"scorer_id":{"type":"string"},"scorer_name":{"type":"string"},"score":{"type":"number"},"passed":{"type":"number"},"metadata":{"type":"string"},"error":{"type":"string"},"execution_time_ms":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["result_id","organization_slug","dataset_slug","item_id","scorer_id","scorer_name","score","passed","metadata","error","execution_time_ms","created_at","updated_at"]}}},"required":["results"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getApiV1ScorersResults","parameters":[{"name":"organizationSlug","in":"query","required":true,"description":"The organization slug","schema":{"type":"string"}},{"name":"datasetSlug","in":"query","required":false,"description":"Filter by dataset slug","schema":{"type":"string"}},{"name":"itemId","in":"query","required":false,"description":"Filter by item ID","schema":{"type":"string"}},{"name":"scorerId","in":"query","required":false,"description":"Filter by scorer ID","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Number of results to return","schema":{"type":"number","default":100}},{"name":"offset","in":"query","required":false,"description":"Number of results to skip","schema":{"type":"number","default":0}}],"tags":["Scorer Results"],"summary":"Get scorer results","description":"Retrieves scorer results with optional filtering by dataset, item, and scorer."},"post":{"responses":{"201":{"description":"Successfully created scorer result","content":{"application/json":{"schema":{"type":"object","properties":{"result_id":{"type":"string"},"organization_slug":{"type":"string"},"dataset_slug":{"type":"string"},"item_id":{"type":"string"},"scorer_id":{"type":"string"},"scorer_name":{"type":"string"},"score":{"type":"number"},"passed":{"type":"number"},"metadata":{"type":"string"},"error":{"type":"string"},"execution_time_ms":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["result_id","organization_slug","dataset_slug","item_id","scorer_id","scorer_name","score","passed","metadata","error","execution_time_ms","created_at","updated_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiV1ScorersResults","parameters":[{"name":"organizationSlug","in":"query","required":true,"description":"The organization slug","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{}}}},"tags":["Scorer Results"],"summary":"Create scorer result","description":"Creates a new scorer result for a dataset item."}},"/api/v1/scorers/results/batch":{"post":{"responses":{"201":{"description":"Successfully created scorer results","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"created":{"type":"number"},"failed":{"type":"number"},"results":{"type":"array","items":{"type":"object","properties":{"result_id":{"type":"string"},"organization_slug":{"type":"string"},"dataset_slug":{"type":"string"},"item_id":{"type":"string"},"scorer_id":{"type":"string"},"scorer_name":{"type":"string"},"score":{"type":"number"},"passed":{"type":"number"},"metadata":{"type":"string"},"error":{"type":"string"},"execution_time_ms":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["result_id","organization_slug","dataset_slug","item_id","scorer_id","scorer_name","score","passed","metadata","error","execution_time_ms","created_at","updated_at"]}}},"required":["success","created","failed","results"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiV1ScorersResultsBatch","parameters":[{"name":"organizationSlug","in":"query","required":true,"description":"The organization slug","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{}}}},"tags":["Scorer Results"],"summary":"Batch create scorer results","description":"Creates multiple scorer results in a single request (max 100)."}},"/api/v1/scorers/results/{datasetSlug}/{itemId}/{scorerId}":{"get":{"responses":{"200":{"description":"Successfully retrieved scorer result","content":{"application/json":{"schema":{"type":"object","properties":{"result_id":{"type":"string"},"organization_slug":{"type":"string"},"dataset_slug":{"type":"string"},"item_id":{"type":"string"},"scorer_id":{"type":"string"},"scorer_name":{"type":"string"},"score":{"type":"number"},"passed":{"type":"number"},"metadata":{"type":"string"},"error":{"type":"string"},"execution_time_ms":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["result_id","organization_slug","dataset_slug","item_id","scorer_id","scorer_name","score","passed","metadata","error","execution_time_ms","created_at","updated_at"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Scorer result not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getApiV1ScorersResultsByDatasetSlugByItemIdByScorerId","parameters":[{"in":"param","name":"datasetSlug","schema":{"type":"string","minLength":1},"required":true},{"in":"param","name":"itemId","schema":{"type":"string","minLength":1},"required":true},{"in":"param","name":"scorerId","schema":{"type":"string","minLength":1},"required":true},{"name":"organizationSlug","in":"query","required":true,"description":"The organization slug","schema":{"type":"string"}},{"name":"datasetSlug","in":"path","required":true,"description":"Dataset slug","schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"description":"Item ID","schema":{"type":"string"}},{"name":"scorerId","in":"path","required":true,"description":"Scorer ID","schema":{"type":"string"}}],"tags":["Scorer Results"],"summary":"Get scorer result by ID","description":"Retrieves a specific scorer result for an item."},"put":{"responses":{"200":{"description":"Successfully updated scorer result","content":{"application/json":{"schema":{"type":"object","properties":{"result_id":{"type":"string"},"organization_slug":{"type":"string"},"dataset_slug":{"type":"string"},"item_id":{"type":"string"},"scorer_id":{"type":"string"},"scorer_name":{"type":"string"},"score":{"type":"number"},"passed":{"type":"number"},"metadata":{"type":"string"},"error":{"type":"string"},"execution_time_ms":{"type":"number"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["result_id","organization_slug","dataset_slug","item_id","scorer_id","scorer_name","score","passed","metadata","error","execution_time_ms","created_at","updated_at"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Scorer result not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"putApiV1ScorersResultsByDatasetSlugByItemIdByScorerId","parameters":[{"in":"param","name":"datasetSlug","schema":{"type":"string","minLength":1},"required":true},{"in":"param","name":"itemId","schema":{"type":"string","minLength":1},"required":true},{"in":"param","name":"scorerId","schema":{"type":"string","minLength":1},"required":true},{"name":"organizationSlug","in":"query","required":true,"description":"The organization slug","schema":{"type":"string"}},{"name":"datasetSlug","in":"path","required":true,"description":"Dataset slug","schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"description":"Item ID","schema":{"type":"string"}},{"name":"scorerId","in":"path","required":true,"description":"Scorer ID","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{}}}},"tags":["Scorer Results"],"summary":"Update scorer result","description":"Updates an existing scorer result."},"delete":{"responses":{"204":{"description":"Successfully deleted scorer result"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Scorer result not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"deleteApiV1ScorersResultsByDatasetSlugByItemIdByScorerId","parameters":[{"in":"param","name":"datasetSlug","schema":{"type":"string","minLength":1},"required":true},{"in":"param","name":"itemId","schema":{"type":"string","minLength":1},"required":true},{"in":"param","name":"scorerId","schema":{"type":"string","minLength":1},"required":true},{"name":"organizationSlug","in":"query","required":true,"description":"The organization slug","schema":{"type":"string"}},{"name":"datasetSlug","in":"path","required":true,"description":"Dataset slug","schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"description":"Item ID","schema":{"type":"string"}},{"name":"scorerId","in":"path","required":true,"description":"Scorer ID","schema":{"type":"string"}}],"tags":["Scorer Results"],"summary":"Delete scorer result","description":"Deletes a scorer result."}},"/api/v1/scorers":{"get":{"responses":{"200":{"description":"Successfully retrieved scorers. Returns an array of all available scorers.","content":{"application/json":{"schema":{"type":"object","properties":{"scorers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"tag":{"type":"string"},"config":{},"schema":{},"inputSchema":{},"outputSchema":{},"isDefault":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","type","tag","isDefault","createdAt","updatedAt"]}}},"required":["scorers"]}}}},"401":{"description":"Unauthorized - Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getApiV1Scorers","parameters":[{"name":"organizationSlug","in":"query","required":true,"description":"The unique slug identifier for the organization. Used to filter organization-specific scorers.","schema":{"type":"string"}}],"tags":["Scorers"],"summary":"Get all scorers","description":"Retrieves all available scorers for the organization. This includes both default (system-wide) scorers and organization-specific custom scorers. Scorers are evaluation functions used to assess the quality, performance, or other metrics of AI traces, spans, or datasets. Results are sorted alphabetically by name."},"post":{"responses":{"201":{"description":"Successfully created scorer","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"tag":{"type":"string"},"config":{},"schema":{},"inputSchema":{},"outputSchema":{},"isDefault":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","type","tag","isDefault","createdAt","updatedAt"]}}}},"400":{"description":"Bad request - Invalid input data or schema validation failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized - Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiV1Scorers","parameters":[{"name":"organizationSlug","in":"query","required":true,"description":"The unique slug identifier for the organization","schema":{"type":"string"}}],"requestBody":{"description":"The scorer configuration to create","required":true,"content":{"application/json":{"schema":{}}}},"tags":["Scorers"],"summary":"Create a new scorer","description":"Creates a new scorer for the organization. Scorers are evaluation functions that can be applied to traces, spans, or datasets to measure quality, performance, or other metrics. By default, isDefault is set to false, making the scorer available only to the specified organization."}},"/api/v1/scorers/{id}":{"get":{"responses":{"200":{"description":"Successfully retrieved scorer with complete configuration details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"tag":{"type":"string"},"config":{},"schema":{},"inputSchema":{},"outputSchema":{},"isDefault":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","type","tag","isDefault","createdAt","updatedAt"]}}}},"401":{"description":"Unauthorized - Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Scorer not found with the specified ID","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getApiV1ScorersById","parameters":[{"in":"param","name":"id","schema":{"type":"string","minLength":1},"required":true},{"name":"organizationSlug","in":"query","required":true,"description":"The unique slug identifier for the organization","schema":{"type":"string"}},{"name":"id","in":"path","required":true,"description":"The unique identifier of the scorer to retrieve","schema":{"type":"string"}}],"tags":["Scorers"],"summary":"Get a single scorer by ID","description":"Retrieves detailed information about a specific scorer by its unique identifier. Returns the complete scorer configuration including name, description, type, schemas, and metadata. This endpoint can be used to retrieve both default (system-wide) scorers and organization-specific scorers."},"put":{"responses":{"200":{"description":"Successfully updated scorer","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"tag":{"type":"string"},"config":{},"schema":{},"inputSchema":{},"outputSchema":{},"isDefault":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","type","tag","isDefault","createdAt","updatedAt"]}}}},"400":{"description":"Bad request - Invalid input data or schema validation failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized - Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden - Cannot modify default scorer or scorer from another organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Scorer not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"putApiV1ScorersById","parameters":[{"in":"param","name":"id","schema":{"type":"string","minLength":1},"required":true},{"name":"organizationSlug","in":"query","required":true,"description":"The unique slug identifier for the organization","schema":{"type":"string"}},{"name":"id","in":"path","required":true,"description":"The unique identifier of the scorer to update","schema":{"type":"string"}}],"requestBody":{"description":"The scorer fields to update. Only provided fields will be modified.","required":true,"content":{"application/json":{"schema":{}}}},"tags":["Scorers"],"summary":"Update a scorer","description":"Updates an existing scorer for the organization. Only organization-specific scorers can be modified - default scorers and scorers from other organizations cannot be updated. All fields in the request body are optional and only provided fields will be updated."},"delete":{"responses":{"204":{"description":"Successfully deleted scorer. No content returned in response body."},"401":{"description":"Unauthorized - Authentication required","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden - Cannot delete default scorer or scorer from another organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Scorer not found with the specified ID","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"deleteApiV1ScorersById","parameters":[{"in":"param","name":"id","schema":{"type":"string","minLength":1},"required":true},{"name":"organizationSlug","in":"query","required":true,"description":"The unique slug identifier for the organization","schema":{"type":"string"}},{"name":"id","in":"path","required":true,"description":"The unique identifier of the scorer to delete","schema":{"type":"string"}}],"tags":["Scorers"],"summary":"Delete a scorer","description":"Permanently deletes a scorer from the organization. This operation cannot be undone. Only organization-specific scorers can be deleted - default (system-wide) scorers and scorers from other organizations cannot be removed. Returns 204 No Content on successful deletion."}},"/api/projects":{"get":{"responses":{"200":{"description":"Returns all projects","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"organizationId":{"type":"string"},"totalRequests":{"type":"number"},"totalTokens":{"type":"number"},"avgLatency":{"type":"number"},"errorRate":{"type":"number"},"costPerRequest":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"apiKey":{"type":"string"},"modelUsage":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"modelId":{"type":"string"},"modelName":{"type":"string"},"provider":{"type":"string"},"requests":{"type":"number"},"tokens":{"type":"number"},"cost":{"type":"number"},"lastUsed":{"type":"string"}},"required":["id","modelId","modelName","provider","requests","tokens","cost","lastUsed"]}}},"required":["id","name","description","status","organizationId","totalRequests","totalTokens","avgLatency","errorRate","costPerRequest","createdAt","updatedAt"]}}}}}},"operationId":"getApiProjects","tags":["Projects"],"summary":"Get all projects","parameters":[]},"post":{"responses":{"201":{"description":"Returns the created project","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"organizationId":{"type":"string"},"totalRequests":{"type":"number"},"totalTokens":{"type":"number"},"avgLatency":{"type":"number"},"errorRate":{"type":"number"},"costPerRequest":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"apiKey":{"type":"string"},"modelUsage":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"modelId":{"type":"string"},"modelName":{"type":"string"},"provider":{"type":"string"},"requests":{"type":"number"},"tokens":{"type":"number"},"cost":{"type":"number"},"lastUsed":{"type":"string"}},"required":["id","modelId","modelName","provider","requests","tokens","cost","lastUsed"]}}},"required":["id","name","description","status","organizationId","totalRequests","totalTokens","avgLatency","errorRate","costPerRequest","createdAt","updatedAt"]}}}}},"operationId":"postApiProjects","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","ARCHIVED"]}},"required":["name"]}}}},"parameters":[],"tags":["Projects"],"summary":"Create a new project"}},"/api/projects/{id}":{"get":{"responses":{"200":{"description":"Returns the project","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"organizationId":{"type":"string"},"totalRequests":{"type":"number"},"totalTokens":{"type":"number"},"avgLatency":{"type":"number"},"errorRate":{"type":"number"},"costPerRequest":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"apiKey":{"type":"string"},"modelUsage":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"modelId":{"type":"string"},"modelName":{"type":"string"},"provider":{"type":"string"},"requests":{"type":"number"},"tokens":{"type":"number"},"cost":{"type":"number"},"lastUsed":{"type":"string"}},"required":["id","modelId","modelName","provider","requests","tokens","cost","lastUsed"]}}},"required":["id","name","description","status","organizationId","totalRequests","totalTokens","avgLatency","errorRate","costPerRequest","createdAt","updatedAt"]}}}},"404":{"description":"Project not found"}},"operationId":"getApiProjectsById","tags":["Projects"],"summary":"Get a single project","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]},"put":{"responses":{"200":{"description":"Returns the updated project","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"organizationId":{"type":"string"},"totalRequests":{"type":"number"},"totalTokens":{"type":"number"},"avgLatency":{"type":"number"},"errorRate":{"type":"number"},"costPerRequest":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"apiKey":{"type":"string"},"modelUsage":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"modelId":{"type":"string"},"modelName":{"type":"string"},"provider":{"type":"string"},"requests":{"type":"number"},"tokens":{"type":"number"},"cost":{"type":"number"},"lastUsed":{"type":"string"}},"required":["id","modelId","modelName","provider","requests","tokens","cost","lastUsed"]}}},"required":["id","name","description","status","organizationId","totalRequests","totalTokens","avgLatency","errorRate","costPerRequest","createdAt","updatedAt"]}}}},"404":{"description":"Project not found"}},"operationId":"putApiProjectsById","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","ARCHIVED"]}},"required":["name"]}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"tags":["Projects"],"summary":"Update a project"},"delete":{"responses":{"204":{"description":"Project deleted successfully"},"404":{"description":"Project not found"}},"operationId":"deleteApiProjectsById","tags":["Projects"],"summary":"Delete a project","parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}]}},"/api/{organisationSlug}/api-keys":{"get":{"responses":{"200":{"description":"API keys retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"apiKeys":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"key":{"type":"string"},"expiresAt":{"type":["string","null"],"format":"date-time"},"createdAt":{"type":"string"},"user":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":["string","null"]},"image":{"type":["string","null"]}},"required":["id","name","image"]}},"required":["id","title","key","expiresAt","createdAt","user"]}}},"required":["apiKeys"]}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"getApiByOrganisationSlugApi-keys","tags":["API Keys"],"summary":"Get all API keys","description":"Get all API keys for the current organization. Organization admins can see all keys, regular members only see their own.","parameters":[{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}]},"post":{"responses":{"201":{"description":"API key created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"key":{"type":"string"},"expiresAt":{"type":["string","null"],"format":"date-time"},"createdAt":{"type":"string"}},"required":["id","title","key","expiresAt","createdAt"]}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Failed to create API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"postApiByOrganisationSlugApi-keys","requestBody":{"content":{"application/json":{"schema":{}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}],"tags":["API Keys"],"summary":"Create a new API key","description":"Create a new API key for the current organization. The API key will be generated automatically and returned only once."},"delete":{"responses":{"200":{"description":"API key deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"API key not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"deleteApiByOrganisationSlugApi-keys","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","description":"The ID of the API key to delete"}},{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}],"tags":["API Keys"],"summary":"Delete an API key","description":"Delete an API key. Users can only delete their own keys unless they are organization admins."}},"/api/{organisationSlug}/credentials":{"get":{"responses":{"200":{"description":"List of credentials retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"credentials":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"providerId":{"type":"string"},"name":{"type":"string"},"isEnabled":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","providerId","name","isEnabled","createdAt","updatedAt"]}}},"required":["credentials"]}}}},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"getApiByOrganisationSlugCredentials","tags":["Credentials"],"summary":"List organization's provider credentials","description":"Get all AI provider credentials for a specific organization. Only returns basic information for security.","parameters":[{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}]},"post":{"responses":{"201":{"description":"Credential created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"providerId":{"type":"string"},"name":{"type":"string"},"title":{"type":["string","null"]},"credentials":{"type":"object","additionalProperties":{}},"isEnabled":{"type":"boolean"},"organizationId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","providerId","name","title","credentials","isEnabled","organizationId","createdAt","updatedAt"]}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"postApiByOrganisationSlugCredentials","requestBody":{"content":{"application/json":{"schema":{}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}],"tags":["Credentials"],"summary":"Create a new credential","description":"Create a new AI provider credential for an organization. The credentials will be encrypted and stored securely."}},"/api/{organisationSlug}/credentials/{id}":{"get":{"responses":{"200":{"description":"Credential details retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"providerId":{"type":"string"},"name":{"type":"string"},"title":{"type":["string","null"]},"credentials":{"type":"object","additionalProperties":{}},"isEnabled":{"type":"boolean"},"organizationId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","providerId","name","title","credentials","isEnabled","organizationId","createdAt","updatedAt"]}}}},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"getApiByOrganisationSlugCredentialsById","tags":["Credentials"],"summary":"Get specific credential details","description":"Get detailed information about a specific credential. Sensitive credential data is masked for security.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"The credential ID"}},{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}]},"put":{"responses":{"200":{"description":"Credentials updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"providerId":{"type":"string"},"name":{"type":"string"},"title":{"type":["string","null"]},"credentials":{"type":"object","additionalProperties":{}},"isEnabled":{"type":"boolean"},"organizationId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","providerId","name","title","credentials","isEnabled","organizationId","createdAt","updatedAt"]}}}},"400":{"description":"Bad request - Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"putApiByOrganisationSlugCredentialsById","requestBody":{"content":{"application/json":{"schema":{}}}},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"The credential ID"}},{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}],"tags":["Credentials"],"summary":"Update provider credentials","description":"Update existing AI provider credentials. Only provided fields will be updated."},"delete":{"responses":{"204":{"description":"Credentials deleted successfully"},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"deleteApiByOrganisationSlugCredentialsById","tags":["Credentials"],"summary":"Remove credentials","description":"Soft delete provider credentials. The credential will be marked as deleted but not permanently removed.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"The credential ID"}},{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}]}},"/api/{organisationSlug}/credentials/{id}/validate":{"post":{"responses":{"200":{"description":"Validation result","content":{"application/json":{"schema":{"type":"object","properties":{"valid":{"type":"boolean"},"message":{"type":"string"},"testedAt":{"type":"string"}},"required":["valid","message","testedAt"]}}}},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"postApiByOrganisationSlugCredentialsByIdValidate","tags":["Credentials"],"summary":"Test credentials validity","description":"Validate if the stored credentials are still valid by testing the connection to the AI provider.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"The credential ID"}},{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}]}},"/api/{organisationSlug}/credentials/{id}/toggle":{"patch":{"responses":{"200":{"description":"Credential status toggled successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"providerId":{"type":"string"},"name":{"type":"string"},"title":{"type":["string","null"]},"credentials":{"type":"object","additionalProperties":{}},"isEnabled":{"type":"boolean"},"organizationId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","providerId","name","title","credentials","isEnabled","organizationId","createdAt","updatedAt"]}}}},"401":{"description":"Unauthorized - User not authenticated","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"403":{"description":"Forbidden - Not a member of this organization","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"errorCode":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["error"]}}}}},"operationId":"patchApiByOrganisationSlugCredentialsByIdToggle","tags":["Credentials"],"summary":"Toggle credential enabled status","description":"Toggle the enabled/disabled status of a credential. Disabled credentials cannot be used for AI operations.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"The credential ID"}},{"schema":{"type":"string"},"in":"path","name":"organisationSlug","required":true}]}},"/api/auth/sign-in/social":{"post":{"tags":["Auth"],"description":"Sign in with a social provider","security":[{"bearerAuth":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"callbackURL":{"type":"string","description":"Callback URL to redirect to after the user has signed in"},"newUserCallbackURL":{"type":"string"},"errorCallbackURL":{"type":"string","description":"Callback URL to redirect to if an error happens"},"provider":{"type":"string","description":"OAuth2 provider to use"},"disableRedirect":{"type":"string","description":"Disable automatic redirection to the provider. Useful for handling the redirection yourself"},"idToken":{"type":"string","description":"ID token from the provider to sign in the user with id token"}},"required":["provider"]}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"session":{"type":"string"},"user":{"type":"object"},"url":{"type":"string"},"redirect":{"type":"boolean"}},"required":["session","user","url","redirect"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"description":"Bad Request. Usually due to missing parameters, or invalid parameters."},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"description":"Unauthorized. Due to missing or invalid authentication."},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}},"description":"Forbidden. You do not have permission to access this resource or to perform this action."},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}},"description":"Not Found. The requested resource was not found."},"429":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}},"description":"Too Many Requests. You have exceeded the rate limit. Try again later."},"500":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}},"description":"Internal Server Error. This is a problem with the server that you cannot fix."}}}},"/api/auth/get-session":{"get":{"tags":["Auth"],"description":"Get the current session","security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"session":{"type":"object","properties":{"token":{"type":"string"},"userId":{"type":"string"},"expiresAt":{"type":"string"}}},"user":{"type":"object","$ref":"#/components/schemas/User"}}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"description":"Bad Request. Usually due to missing parameters, or invalid parameters."},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"description":"Unauthorized. Due to missing or inv
[...]
